html {
	scroll-behavior: smooth;
}

body {
    background-color: #425664;
    font-family: "Calibri Light", Arial, Verdana, sans-serif;
    margin: 0;
}

img {
    vertical-align: bottom;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.header {
    color: #FFF9EF;
    font-family: "Times New Roman", serif;
    font-size: 72px;
    height: 80px;
    margin: 90px auto 10px auto;
    width: 798px;
}

.header-title {
    padding: 0 0 0 45px;
}

.main {
    background-color: #FFF9EF;
    margin: 0 auto 80px auto;
    padding: 35px;
    width: 728px;
}

.section {
    margin: 0 0 20px 0;
}

.section-title {
    font-size: 48px;
    padding: 0 0 0 15px;
}

.section-body {
    font-size: 18px;
    padding: 0 15px 0 15px;
}

.section-image {
    flex-grow: 1;
    float: right;
    margin: 0 0 0 10px;
}

.section-link {
    font-size: 18px;
    padding: 5px 15px 5px 15px;
    /* padding-left: 17px; */
    position: relative;
}

.main-link {
    margin: 10px 0 0 0;
}

.section-link:hover {
    background-color: rgba(230, 209, 173, 0.4);
    cursor: pointer;
}

.section-link-title {
    font-size: 30px;
}

.section-link-description {
    width: calc(100% - 4px);
}

#main-self {
    border: solid #425664 5px;
    margin: 0 10px 0 0;
    width: 256px;
}

.link-img {
    width: 128px;
}

.contact {
    height: 64px;
    line-height: 64px;
}

.contact .section-link-title {
    display: inline-block;
    font-size: 40px;
    line-height: normal;
    vertical-align: middle;
}

.link-img-contact {
    margin-top: -32px;
    position: absolute;
    right: 15px;
    top: 50%;
    width: 64px;
}

@media only screen and (max-width: 798px) {
    .header {
        margin: 0;
        text-align: center;
        width: 100vw;
    }
    .header-title {
        padding: 0 0 0 0;
    }
    .main {
        padding: 35px 0 35px 0;
        width: 100vw;
    }
    #main-self {
        width: 25vw;
    }
}

@media only screen and (max-width: 350px) {
    .header {
        font-size: 60px;
    }
}

/* Borders for debugging */

/* .header {
    border: solid pink 2px;
}
.main {
    border: solid darkgreen 2px;
}
.section {
    border: solid pink 2px;
}
.section-title {
    border: solid red 2px;
}
.section-body {
    border: solid blue 2px;
}
.section-link {
    border: solid lightblue 2px;
}
.section-image {
    border: solid green 2px;
}
.section-link-title {
    border: solid orange 2px;
}
.section-link-description {
    border: solid purple 2px;
} 
.contact {
    border: solid coral 2px;
} */