html {
	scroll-behavior: smooth;
}

body {
    background-color: #051622;

    background-color: #425664;
    background-color: #425664;
    /* background-color: #1d2a33; */
    /* background-color: #c6ad8f; */
    /* background-color: #f6f4f2;  */
    font-family: "Calibri Light", "Arial", "Veranda", "Times New Roman";
    /* height: 10000px; */
    margin: 0;
}

.header {
    color: #FFF9EF;
    font: 72px "Times New Roman";
    height: 80px;
    margin: 90px auto 10px auto;
    /* padding: 0 0 0 10px; */
    width: 728px;
}

.main {
    background-color: #FFF9EF;
    border: solid #C6AD8F 10px;
    height: 2000px;
    margin: 0 auto 80px auto;
    width: 728px;
}

.section {
    margin: 0 0 10px 0;
    padding: 0 10px 0 10px;
}

.section-title {
    display: inline-block;
    font-size: 40px;
    padding: 0 0 0 5px;
}

.section-body {
    /* display: inline-block; */
    font-size: 18px;
    padding: 0 5px 0 5px;
    width: calc(100% - 256px - 10px - 10px)
}

.section-image {
    /* border: solid green 2px; */
    /* display: inline-block; */
    float: right;
    height: 100%;
}

#main-self {
    border: solid #425664 3px;
    /* float: right; */
    margin: 53px 0 0 0;
    width: 256px;
}


/* Borders for debugging */
/* .header {
    border-left: solid pink 2px;
}
.section {
    border: solid pink 2px;
}
.section-title {
    border: solid red 2px;
}
.section-body {
    border: solid blue 2px;
} */